<ion-header no-border>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>INICIAR SESION</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="0" size-lg="4"></ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card color="light" mode="ios">
          <ion-card-content>
            <ion-item>
              <ion-input type="text" placeholder="Nombre de usuario"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Contrasena"></ion-input>
            </ion-item>
            <br>
            <ion-button size="large" expand="full">
              Iniciar sesion
            </ion-button>

            <a routerLink="/register">Aun no cuentas con una cuenta? Click aqui.</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="0" size-lg="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
