<ion-header no-border>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="0" size-lg="4"></ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card color="light" mode="ios">
          <ion-card-content>
            <ion-item>
              <ion-input type="text" placeholder="Nombre de usuario"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="text" placeholder="Nombre(s)"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="text" placeholder="Apellido paterno"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="text" placeholder="Apellido materno"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="password" placeholder="Ingresa una contrasena"></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input type="password" placeholder="Reingresa tu contrasena"></ion-input>
            </ion-item>
            <br>
            <ion-button size="large" expand="full">
              Registrarme
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="0" size-lg="4"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>