<ion-header no-border>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-searchbar placeholder="Busca tu casa ideal..."></ion-searchbar>
    </ion-buttons>
    <ion-title>
      Fast House
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" routerLink="/login">
        INICIAR SESION
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size="12" *ngFor="let house of houses;">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-img src="{{ house.filters.src }}"></ion-img>
          </ion-card-header>
          <hr>
          <ion-card-content>
            <ion-card-title>{{ house.filters.title }}</ion-card-title>
            <ion-list>
              <ion-item>
                <ion-label slot="end">{{ house.filters.price }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="pin"></ion-icon>
                <ion-label>{{ house.filters.address }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-button fill="outline" expand="full" size="large" href="{{ house.url }}">
              Ir a ver
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
